<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel = "stylesheet" href = "rtips.css" >
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	</head>
	
<body>
		<div class="container">
 			<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container-fluid">
   				 <!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       			 		<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
    			</div>


   				<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav navbar">
       					<li><a href="/home">Home</a></li>
        				<li><a href="/about">About</a></li>
        				<li><a href="/jobs">Jobs</a></li>
        				<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prep<span class="caret"></span></a>
          				<ul class="dropdown-menu">
            				<li><a href="/build">Resumé Builder</a></li>
            				<li role="separator" class="divider"></li>
            				<li class="active"><a href="/rtips">Resumé tips</a></li>
            				<li role="separator" class="divider"></li>
            				<li><a href="/itips">Interview tips</a></li>
            				<li role="separator" class="divider"></li>
            				<li><a href="/appear">Appearance</a></li>
         				</ul>
        				</li>
        				<li><a href="/donate">Donate</a></li>
        				<li><a href="/contact">Contact</a></li>
    			</div><!-- /.navbar-collapse -->
 			</div><!-- /.container-fluid -->
			</nav>
		</div>
<div class = "jumbotron"> </div> 

<h1 id = "bold"> Resume Tips </h1>




<h2> What is the purpose of a resume? </h2>

<p> The purpose of a resume is to provide a summary of your skills, abilities and <br> accomplishments. 
 It is a quick advertisement of who you are. It is a "snapshot" of you <br> with the intent of capturing and 
 emphasizing interests and secure you an interview. <br> It is not an autobiography. Since your resume 
 is a primary tool in your job search,<br> it needs to be carefully written and critiqued. </p>

 
<img id = "pic" src="template.png" width = 500px height= 500px>



<img id = "pic" src="template.png" width = 500px height= 500px>
<h2> Tips </h2>

<ul>
<li id = "list"> Be brief! Highlight your most important qualities </li>
<li id = "list"> It should be simple, no more than two pages </li>
<li id = "list"> Use reverse chronological order, putting your most recent experience at the top. </li>
<li id = "list"> Don't include much personal information- it is not relevant to most jobs.</li>
</ul>

<footer class="container-fluid text-center">
 		<a href="/rtips" title="To Top">
    		<span class="glyphicon glyphicon-chevron-up"></span>
  		</a> 
</footer>
		

</body>

</html>



